@font-face {
    font-family: 'Reenie Beanie';
    src: url('../fonts/ReenieBeanie-Regular.ttf') format('truetype');
}

body{
    width: 100%;
    height: 100%;
    font-family:'Reenie Beanie', cursive;
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
}


div.frame{
    min-height: 100vh;
    background-image: url('../images/backgr.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

div.header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: white;
}
div.navigation{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
div.navigation>a{
  text-decoration: none;
  font-size: 0.99em;
  color: black;
  padding: 0px 15px;
  border-bottom: 2px solid black;
  border-radius: 3vh;
}
div.header>img{
    height: 7vh;
    width: 12vh;
}

div.content{
  background: rgba(0, 0, 0, 0.15);
  padding: 3vh;
}

table>tbody>tr>th{
  padding: 8px;
  background-color: #f9b217;
  border-collapse: collapse;
}

td{
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
}

table{

  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: white;
}

.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background: rgba(0, 0, 0,0.3);
}

/*style for all buttons*/
.knopka {
    font-size: 1.1em;
    width: 100%;
    height: 100%;
    padding: 1vh;
    border: none;
    color: white;
    background: #f9b217;
    font-family: 'Reenie Beanie';
}

button#logout.lgout{
  font-size: 1.1em;
  width: 15vh;
  height: 8vh;
  padding: 1vh;
  border: none;
  color: white;
  background: #f9b217;
  font-family: 'Reenie Beanie';
}

/*proloader for all pages*/
